<nav class="black navbar-custom">
   <div class="nav-wrapper">
     <a href="{% url 'index' %}" class="brand-logo">UPC <span>Черкаси</span></a>
     <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul id="nav_list" class="right hide-on-med-and-down">
       <li><a href="{% url 'feed:news_list' %}">Новини</a></li>
       <li><a href="{% url 'feed:articles_list' %}">Статті</a></li>
       <li><a href="{% url 'contact' %}">Контакти</a></li>
       <li><a href="{% url 'about' %}">Про нас</a></li>
     </ul>
     <ul class="side-nav" id="mobile-demo">
       <li><a href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i>Головна</a></li>
       <li class="divider"></li>
       <li><a href="{% url 'feed:news_list' %}"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Новини</a></li>
       <li><a href="{% url 'feed:articles_list' %}"><i class="fa fa-list-ul" aria-hidden="true"></i>Статті</a></li>
       <li class="divider"></li>
       <li><a href="{% url 'contact' %}"><i class="fa fa-users" aria-hidden="true"></i>Контакти</a></li>
       <li><a href="{% url 'about' %}"><i class="fa fa-info-circle" aria-hidden="true"></i>Про нас</a></li>
     </ul>
   </div>
 </nav>
