<nav>
   <div class="nav-wrapper">
     <a href="{% url 'index' %}" class="brand-logo">Logo</a>
     <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li><a href="{% url 'index' %}">Головна</a></li>
       <li><a href="{% url 'feed:articles_list' %}">Статті</a></li>
       <li><a href="{% url 'contact' %}">Контакти</a></li>
       <li><a href="{% url 'about' %}">Про нас</a></li>
     </ul>
     <ul class="side-nav" id="mobile-demo">
       <li><a href="{% url 'index' %}">Головна</a></li>
       <li><a href="{% url 'feed:articles_list' %}">Статті</a></li>
       <li><a href="{% url 'contact' %}">Контакти</a></li>
       <li><a href="{% url 'about' %}">Про нас</a></li>
     </ul>
   </div>
 </nav>
