{% extends "base.html" %}

{% block content %}
<div class="main container z-depth-5">

  <h3>Відео</h3>
  {% for video in videos %}
  <div class="video-container">
    <iframe width="853" height="480" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
  </div>
  {% endfor %}
  <a href="{% url 'gallery:videos_list' %}">Переглянути всі відео</a>
  <hr>
  <h3>Альбоми</h3>
  {% for album in albums %}
  <div class="">
    <h4>{{ album.title }}</h4>
  </div>
  {% endfor %}
  <a href="{% url 'gallery:albums_list' %}">Переглянути всі альбоми</a>
</div>
{% endblock %}
