.navbar-custom {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-custom .nav-wrapper #nav_list li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}

.brand-logo span {
  color: red;
  font-size: 0.8rem;
  font-style: italic;
  margin-left: -20px;
  transform: rotate(-25deg);
}

#nav_list li.active {
  background-color: red;
}

.content {
  min-height: 768px;
}

.main {
  margin-top: 10px;
  margin-bottom: 50px;
  padding: 20px;
}
