<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}Черкаська федерація пауерліфтингу{% endblock %}
    </title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://use.fontawesome.com/ae05b1f88d.js"></script>
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    {% include "includes/_navbar.html" %}
    <div class="content">

      {% block content %}
      {% endblock %}
    </div>

    {% include "includes/_footer.html" %}
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>
